<%= form_with model: @tweet do |form| %>

  <div class="field">
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :text, class: "label"  %>
    <%= form.text_field :text, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
